<p id="notice"><%= notice %></p>

<!-- Render a common view between booking and waitlist -->
<%= render 'booking_waitlist_show', booking: @waitlist.booking_same_user_same_tour, waitlist: @waitlist %>

<!-- Send to booking edit page (double-duty page) -->
<%= link_to 'Edit', edit_booking_path(@waitlist, waitlist_override: true) %>
