<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bookmark.user.name %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @bookmark.tour.name %>
</p>

<%= link_to 'Back', bookmarks_path %>
