<p id="notice"><%= notice %></p>

<!-- TODO test -->
<%= render 'booking_waitlist', booking: @booking, waitlist: @booking.waitlist_same_user_same_tour %>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
